body {
    font: 13px 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}
h1, h2, h3 {
    line-height:1.2;
    margin: 0;
}
h2 {
    font-size: 120%;
    line-height: 1;
}
li {
    list-style: none;
}
li a {
    color: #333;
    font-size: 80%;
}
a {
    color: #111;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    margin-top: 0;
}
.deleted * {
    color: red;
}
.extlink a {
    color: #222;
    opacity: 0.1;
}
div:hover > .extlink a { opacity: 1; }