<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% block  title %}Chrome Extensions Archive{% endblock %}</title>
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css"/>
</head>
<body>
<a href='/'>
    <h1>Chrome Extensions Archive</h1>
</a>
<div style='text-align: right'><a href="https://github.com/mdamien/chrome-extensions-archive">github.com/mdamien/chrome-extensions-archive</a></div>
<hr/>
{% block content %}
{% endblock %}
</body>
</html>
