{% extends "base.html" %}

{% block title %}
{{ ext.name }} - {{ super() }}
{% endblock %}

{% block content %}
<small> {{ext.ext_id}} </small></br>
<a href="{{ ext.url }}"><h2> {{ext.name}} </h2></a>
<small>{{ ext.user_count | add_commas }} users</small>
<ul>
{% for file in ext.files %}
    <li>
        <a href="{{ file.storage_url }}">
            {{ file.name.replace('.zip','') }} - <small>{{ file.size | filesizeformat }}</small>
        </a>
        <small>
            <a target="_blank" rel="noreferrer" href="{{ VIEW_SOURCE_URL }}{{ file.storage_url }}">view source</a>
        </small>
    </li>
{% endfor %}
</ul>
<p class='description'>{{ext.full_description|nl2br}}</p>
<hr/>
<small class='crx2ff-links'>
	<a target="_blank" rel="noreferrer" href="{{ CRX2FF_URL }}?id={{ ext.ext_id }}">convert to firefox ext</a> /
	<a target="_blank" rel="noreferrer" href="{{ CRX2FF_URL }}?id={{ ext.ext_id }}&check">check firefox compat</a>
</small>
<pre class='pprint'>
{{ ext|pprint }}
</pre>
{% endblock %}