{% extends "base.html" %}

{% block content %}
<div style="text-align: center">
    <strong>{{ exts_count | add_commas }}</strong> extensions, <strong>{{ files_count | add_commas }}</strong> versions, <strong>{{ total_size | filesizeformat }}</strong> stored<br/>
    Last update: {{ now.strftime('%Y-%m-%d') }}
</div>
<div style="text-align: center">
    Pages:
    {% for p in range(1, pages) %}
        {% if p == page %}<strong>{% endif %}
        <a href="/{% if p > 1 %}pages/{{p}}{% else %}index{% endif %}.html">{{p}}</a>
        {% if p == page %}</strong>{% endif %}
    {% endfor %}
    (ordered by # of users)
</div>
<hr/>
{% for ext in exts %}
<div{% if ext.deleted %} class="deleted"{% endif %}>
    <small class="extlink"><a href="/ext/{{ ext.ext_id }}.html">#{{ ext.ext_id }}</a></small>
    <h2 id="{{ ext.ext_id }}">
        <a href="{{ ext.url }}">{{ ext.name }}</a>
    </h2>
    <small>{{ ext.user_count | add_commas }} users</small>
    <ul>
    {% for file in ext.files %}
        <li>
            <a href="{{ file.storage_url }}">
                {{ file.name.replace('.zip','') }} - <small>{{ file.size | filesizeformat }}</small>
            </a>
            <small>
                <a target="_blank" rel="noreferrer" href="{{ VIEW_SOURCE_URL }}{{ file.storage_url }}">view source</a>
            </small>
        </li>
    {% endfor %}
    </ul>
</div>
{% endfor %}
{% endblock %}